.mutualsButtons {
    display: flex;
    gap: 20px;
}

.mutualsViewButton {
    width: 70px;
    height: 25px;
    background-color: rgb(137, 116, 243);
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
}

.communityStat {
    display: flex;
    flex-direction: column;
    gap: 0px;
} 

.profileStats {
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
}

.profileStatNumber {
    margin-bottom: 5px;
}