.profileHeader {
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.profileName {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}

.profileUserName {
    font-size: 16px;
    color: #666;
    margin: 0;
    margin-top: 5px;
}

.profileLocation {
    font-size: 18px;
}

.profileStats {
    display: flex;
    gap: 30px;
    cursor: pointer;
}

.profileStat {
    display: flex;
}

.profileStatNumber {
    margin-right: 5px;
}

.profileButtons {
    width: 100px;
}

.profileNavbar {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-bottom: 40px;
}

.profileNavbar button {
    margin-right: 10px;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 18px;
}

.profileNavbar button.activeTab {
    background-color: rgb(137, 116, 243);
    color: white;
}

.mutualsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.mutualsButton {
    width: 70px;
    height: 30px;
    font-size: 14px;
    padding: 0 10px;
}

.mutualsName {
    font-size: 18px;
    margin: 0;
}

.profileThreads {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 320px);
    overflow-y: auto;
    gap: 20px;
    padding-right: 20px;
    max-width: 100%;
}

/* Webkit (Chrome, Safari) scrollbar styling */
.profileThreads::-webkit-scrollbar {
    width: 12px;
}

.profileThreads::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the thumb */
    border-radius: 8px; /* Rounded corners of the thumb */
}

.profileThreads::-webkit-scrollbar-track {
    background-color: #151618; /* Color of the track */
}

.profileViewButton {
    width: 70px;
    height: 25px;
    background-color: rgb(137, 116, 243);
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
}

.profileUserContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-bottom: 10px;
}